@font-face {
    font-family: bank-gothic; 
    src: url(../fonts/BankGothic\ Regular.ttf);
}

.footer-container {
    text-align: center;
    padding-top: 11.5vh;
    bottom: 0;
  }
  
  .footer-text {
    font-size: 2vh;
    font-family: bank-gothic;
    color: #ffffffd5;
    text-shadow:0.1vh 0.1vh #000;
  }