

/* .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    color: #ffffff;
    font-family: diploma;
    font-size: 4vh;
    -webkit-text-stroke: 0.5px black;
    
} */

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

img {
    width: 18vw;
    height: 20
}

img:hover {
    cursor: pointer;
}
  