@font-face {
    font-family: bank-gothic; 
    src: url(../fonts/BankGothic\ Regular.ttf);
}

@font-face {
    font-family: diploma;
    src: url(../fonts//diploma.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    font-family: bank-gothic;
    font-size: 16px;
    background: #00000055;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #b7d3f4;
  }
  
  .title {
    float: left;
    display: block;
    color: white; 
    font-family: diploma;
    text-shadow: 0.1vh 0.1vw #000;
    margin-left: 43vh;
  }
  
  .navbar-container {
    margin-right: 38vh;
  }