@font-face {
  font-family: arahoni-bold;
  src: url(../fonts/AharoniBold.ttf);
} 

.aboutpage {
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('../images/graffitti.jpg');
      background-size: cover;
      position: fixed;
      background-repeat: no-repeat;   
      top: 0;   
      left: 0;   
      right: 0;  
      bottom: 0;  
      min-width: 100%;  
      min-height: 100%;
      overflow-y:scroll;
      overflow-x:hidden;
  }

.title-for-about-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin-top: 5vh;
  color: white;
  font-family: diploma;
  text-shadow: 0.2vh 0.2vh #000;
}

.about-texts-and-pictures-container, .first-text-and-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: arahoni-bold;
  text-shadow:0.1vh 0.1vh #000;
}

/* First Picture and Text */

.first-text-and-picture-container {
  margin-top: 6vh;
}

.first-picture, .third-picture {
  width: 27vw;
  height: 30vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

.first-text-container, .third-text-container {
  margin: 3vh 40vh;
  background: #00000055;
  padding: 2vh;
  line-height: 20px;
}

/* Second Picture and Text */
.second-text-and-picture-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20vh;
  padding-right: 20vh;
}



.second-picture-container {
  margin-left: 25vh;
}

.second-picture {
  width: 27vw;
  height: 30vh;
}

.second-text-container {
  margin-left: 3vh;
  margin-right: 20vh;
  padding: 2vh;
  line-height: 20px;
  background: #00000055;
}

/* Third Picture and Text */

.third-text-and-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

