.artists-page {
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('../images/jefferson.jpg');
      background-size: cover;
      position: fixed;
      background-repeat: no-repeat;   
      top: 0;   
      left: 0;   
      right: 0;  
      bottom: 0;  
      min-width: 100%;  
      min-height: 100%;
      overflow-y:scroll;
      overflow-x:hidden;
  }

  .artists-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    margin-top: 5vh;
    color: white;
    font-family: diploma;
    text-shadow: 0.2vh 0.2vh #000;
  }

  .artists-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: bank-gothic;
    text-shadow: 0.2vh 0.2vh #000;
  }

  .artists-container, .og-loc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
  }

  .artist-name-and-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: diploma;
    font-size: 80px;
    color: white;
    text-shadow: 0.2vh 0.2vh #000;
  }

  .artist-picture-container {
    margin-top: 2vh;
  }

  .artist-picture {
    width: 27vw;
    height: 30vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }

  .og-loc-picture {
  
  }

  .artist-description-container {
    color: white;
    font-size: 2vh;
    font-family: arahoni-bold;
    text-shadow:0.1vh 0.1vh #000;
    margin: 3vh 44.6vh 1vh 44.6vh;
    background: #00000055;
    padding: 1vh 2vh;
    line-height: 20px;
  }

 